@model IEnumerable<Domain.Bien>



    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Liste des Biens

                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                        <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <div style="text-align:center;"><a href="~/Export/PrintCode"> <i class="fa fa-print"></i>&nbsp; &nbsp;  Imprimer les codes à barres</a></div> 
                </div>
                    <div class="panel panel-default">
                        <div class="panel-body table-responsive">
                            <table id="example0" class="table display">
                                <thead>
                                    <tr>
                                        <th>Code à barres</th>

                                        <th>Désigantion </th>

                                       


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.Code_a_barre</td>

                                            <td>@item.Designation</td>


                                        </tr>


                                    }
                                </tbody>
                            </table>

                            <br /><p>





                            </p>
                            <br /><p>
                                @if (@Session["Role"].ToString() == "ADMIN")
                                {
                                    @Html.ActionLink("Ajouter un nouveau Bien", "CreateBien")

                                }
                            </p>

                        </div>
                    </div>
                </div>





        </div>
    </div>
    <script>
    $(document).tooltip();
    </script>